
name: aadhaar_analytics_app
description: Aadhaar Analytics Flutter App
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^6.1.0
